@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ruda:wght@700&display=swap');

section {
	height: 100vh;
	background-image: url(/src/bg-image.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	font-family: 'Bebas Neue', cursive;
	z-index: 1;

}

.p-text {
	font-family: 'Ruda', sans-serif;
	font-size: 22px;
}

.bg-image {
	z-index: 0;
}

.nav-link {
	color: #fff;
}

.z-1 {
	z-index: 2;
}

body {
	overflow-y: hidden;
}

.bg-image {
	top: 0;
	right: 0;
}

.btn {
	font-family: 'Bebas Neue', cursive;
	font-size: 24px;
}

.cta {
	height: 100%;
}

@media screen and (max-width: 800px) {
	.bg-image {
		top: auto;
		bottom: 0;
	}

	.cta {
		height: 50%;
	}
}